@using EPiServer.Commerce.Catalog.ContentTypes
@using Mediachase.Commerce.Pricing
@model CommerceTraining.Models.ViewModels.DemoMarketsViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Default Markets Demo</h2>

@using (Html.BeginForm("ChangeDefaultMarket", "MarketsDemo"))
{
    @Html.DropDownListFor(m => m.SelectedMarket,
    new SelectList(Model.MarketList, "MarketId", "MarketName"),
    "-Please select a Market-",
    new { @onchange = "this.form.submit();"})
}

<h4>Current Market Selected: @Model.SelectedMarket.MarketName</h4>
<h4>Shirt Details</h4>
@Html.PropertyFor(m => m.Shirt.Name)
<p>
    Price based on current market: @Model.Shirt.GetDefaultPrice().UnitPrice.ToString()
</p>
<h4>List of Taxes Applied</h4>
<ul>
    @foreach (var tax in Model.Taxes)
    {
        <li>@tax.Name - @tax.Percentage%</li>
    }
</ul>
<p>
    Tax amount from old school method:
    @(Model.TaxAmountOldSchool != null ? Model.TaxAmountOldSchool.ToString() : "N/A")
</p>
<p>
    Tax amount from ITaxCalculator:
    @(Model.TaxAmount != null ? Model.TaxAmount.ToString() : "N/A")
</p>
<b>Optimized Price List</b>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Market</th>
            <th scope="col">Price Type</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OptimizedPrices)
        {
            <tr>
                <th scope="row">@item.MarketId.Value</th>
                <td>@switch ((int)item.CustomerPricing.PriceTypeId) {
                    case 0: @:All Customers
                        break;
                    case 1: @:Customer
                        break;
                    case 2: @:Customer Price Group
                        break;
                    case 3: @:Lowest Possible Price
                        break;
                    }</td>
                <td>@item.UnitPrice.ToString()</td>
            </tr>
        }
    </tbody>
</table>
<p><b>Highest Price:</b> @Model.HighestPrice.ToString()</p>