@model CommerceTraining.Models.ViewModels.InventoryDemoViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Inventory Demo</h2>
<div class="container">
    <div class="row">
        <div class="col-4">
            @Model.Shirt.DisplayName
        </div>
        <div class="col-4">
            <img src="@Model.ImageUrl" />
        </div>
    </div>
    <h4>Inventory Information</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Warehouse</th>
                <th scope="col">Is Tracked</th>
                <th scope="col">Purchase Avl.</th>
                <th scope="col">Purchase Req.</th>
                <th scope="col">Backorder Avl.</th>
                <th scope="col">Backorder Req.</th>
                <th scope="col">Preorder Avl.</th>
                <th scope="col">Preorder Req.</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var inv in Model.Inventories)
            {
            <tr>
                <th scope="row">@inv.WarehouseCode</th>
                <td>@inv.IsTracked</td>
                <td>@inv.PurchaseAvailableQuantity</td>
                <td>@inv.PurchaseRequestedQuantity</td>
                <td>@inv.BackorderAvailableQuantity</td>
                <td>@inv.BackorderRequestedQuantity</td>
                <td>@inv.PreorderAvailableQuantity</td>
                <td>@inv.PreorderRequestedQuantity</td>
            </tr>
            }
        </tbody>
    </table>
</div>