@model CommerceTraining.Models.ViewModels.WarehouseDemoViewModel

@{
                /**/

                ViewBag.Title = "Warehouse Demo";
}

<h2>Warehouse Demo</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Code</th>
            <th scope="col">Is Primary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var wh in Model.Warehouses)
        {
            <tr>
                <th scope="row">@wh.Name</th>
                <td>@wh.Code</td>
                <td>@wh.IsPrimary</td>
                <td>
                    @Html.ActionLink("Edit", "Select", new { code = wh.Code })
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Add New", "New")
</div>

@using (Html.BeginForm("Submit", "WareHouseDemo"))
{
    if (Model.SelectedWarehouse != null)
    {
        <h4>Warehouse Details</h4>
        <div>
            @Html.LabelFor(m => m.SelectedWarehouse.Name)
            @Html.EditorFor(m => m.SelectedWarehouse.Name)
        </div>
        <div>
            @Html.LabelFor(m => m.SelectedWarehouse.Code)
            @Html.EditorFor(m => m.SelectedWarehouse.Code)
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(m => m.SelectedWarehouse.IsActive)
                    @Html.EditorFor(m => m.SelectedWarehouse.IsActive)
                </div>
                <div class="col-md-6">
                    @Html.LabelFor(m => m.SelectedWarehouse.IsPrimary)
                    @Html.EditorFor(m => m.SelectedWarehouse.IsPrimary)
                </div>
            </div>
        </div>

    }
}

@if (Model.SelectedWarehouse != null)
{
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                test
            </div>
            <div class="col-xs-6">
                ing
            </div>
        </div>
    </div>
}